:root {
  --colors-yellow: yellow;
  --colors-blue: blue;
}

body[data-theme="light"] {
  --colors-primary: var(--colors-blue);
  --colors-background: var(--colors-yellow);
}

.app {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  margin-right: 1rem;
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.label {
  display: block;
  margin-bottom: 16px;
}

input,
textarea {
  display: block;
  margin-bottom: 1rem;
  width: 600px;
  border-radius: 10px;
  padding: 1rem;
}

textarea {
  height: 300px;
}

ul {
  margin: 0;
  padding: 0;
}

.link-button {
  max-width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 12px;
  margin-top: 16px;
  display: inline-block;
}
